<h1>Adicionar Nova Postagem</h1>

<div class="form-container">
    <form action="/add" method="POST">
        <label for="titulo">Título:</label>
        <input type="text" id="titulo" name="titulo" required>

        <label for="conteudo">Conteúdo:</label>
        <textarea id="conteudo" name="conteudo" rows="4" required></textarea>

        <input type="submit" value="Adicionar Postagem">
    </form>
</div>
