
<h1>Lista de Postagens</h1>

<div class="posts">
    {{#each posts}}
        <div class="post">
            <h2>{{titulo}}</h2>
            <p>{{conteudo}}</p>
            <a href="/deletar/{{id}}">
                <button>Deletar</button>
            </a>
        </div>
    {{/each}}
</div>
